<html>
<head>
<title>Getgle Docs: Military-Grade Hardened Texthost</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="menu">
<table id="menu-items">
<tr>
<td><a href="../"><img src="logo.png" height="30px" id="logo"></a></td>
<td><a href="index.php"><span id="menu-item">Upload</span></a></td>
<td><a href="list.php"><span id="menu-item">Public Pastes</span></a></td>
<td><a href="about.html"><span id="menu-item">About</span></a></td>
</tr>
</table>
</div>
<div id="main">
<div id="displayPaste">
_PASTES_
</div>
</div>
</div>
</body>
</html>
